$breakpoint-desktop: 1200px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

p {
  color: #60666c;
  line-height: 24px;
  font-size: 16px;
  margin-bottom: 20px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}
